USE [master]
GO
/****** Object:  Database [WebQuanLyThueXe]    Script Date: 3/23/2021 4:23:35 PM ******/
CREATE DATABASE [WebQuanLyThueXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebQuanLyThueXe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THONG\MSSQL\DATA\WebQuanLyThueXe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebQuanLyThueXe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THONG\MSSQL\DATA\WebQuanLyThueXe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebQuanLyThueXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebQuanLyThueXe]
GO
/****** Object:  Table [dbo].[CHITIETDONDATXE]    Script Date: 3/23/2021 4:23:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONDATXE](
	[MaCTDonDatXe] [nchar](10) NOT NULL,
	[MaDatXe] [nchar](10) NOT NULL,
	[MaXe] [nchar](10) NOT NULL,
	[MoTaCT] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETDONDATXE] PRIMARY KEY CLUSTERED 
(
	[MaCTDonDatXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATXE]    Script Date: 3/23/2021 4:23:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATXE](
	[MaDatXe] [nchar](10) NOT NULL,
	[NgayDatXe] [date] NOT NULL,
	[TienCoc] [int] NULL,
	[TienTra] [int] NOT NULL,
	[MaKhach] [nchar](10) NULL,
 CONSTRAINT [PK_DONDATXE] PRIMARY KEY CLUSTERED 
(
	[MaDatXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 3/23/2021 4:23:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[MaKhach] [nchar](10) NOT NULL,
	[TenKhach] [nvarchar](50) NOT NULL,
	[GioiTinh] [nchar](3) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[CMND] [nchar](20) NOT NULL,
	[SDT] [nchar](20) NULL,
	[TenCoQuan] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACH] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 3/23/2021 4:23:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[MaLoaiXe] [nchar](10) NOT NULL,
	[TenLoaiXe] [nvarchar](50) NOT NULL,
	[SoCho] [int] NOT NULL,
	[SoLuongXe] [int] NOT NULL,
	[HangSanXuat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 3/23/2021 4:23:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[MaXe] [nchar](10) NOT NULL,
	[MaLoaiXe] [nchar](10) NOT NULL,
	[TenXe] [nvarchar](50) NOT NULL,
	[BienSo] [nchar](10) NOT NULL,
	[DonGia] [int] NOT NULL,
	[TienCoc] [int] NULL,
	[NgayDatXe] [date] NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_XE] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDONDATXE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONDATXE_DONDATXE] FOREIGN KEY([MaDatXe])
REFERENCES [dbo].[DONDATXE] ([MaDatXe])
GO
ALTER TABLE [dbo].[CHITIETDONDATXE] CHECK CONSTRAINT [FK_CHITIETDONDATXE_DONDATXE]
GO
ALTER TABLE [dbo].[CHITIETDONDATXE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONDATXE_XE] FOREIGN KEY([MaXe])
REFERENCES [dbo].[XE] ([MaXe])
GO
ALTER TABLE [dbo].[CHITIETDONDATXE] CHECK CONSTRAINT [FK_CHITIETDONDATXE_XE]
GO
ALTER TABLE [dbo].[DONDATXE]  WITH CHECK ADD  CONSTRAINT [FK_DONDATXE_KHACH] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KHACH] ([MaKhach])
GO
ALTER TABLE [dbo].[DONDATXE] CHECK CONSTRAINT [FK_DONDATXE_KHACH]
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD  CONSTRAINT [FK_XE_LOAIXE] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LOAIXE] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[XE] CHECK CONSTRAINT [FK_XE_LOAIXE]
GO
USE [master]
GO
