
@{
    Layout = "~/Views/Shared/_Layout00.cshtml";
    ViewBag.Title = "GuiDonDat";
}
<div style="text-align:center">
    <h1>Bạn hãy tải về file hợp đồng với đường link: <a href="https://drive.google.com/file/d/1KcH2cqvSSSQo1_uDePdThAskvIMAr-Qr/view?usp=sharing">Link hợp đồng</a></h1>
    <h2>Đơn Đặt Xe Của Bạn Đã Được Gửi. Click Vào @Html.ActionLink("Đây", "TrangChu", "TrangChu") Để Về Trang Chủ.</h2>
    <br />
    <br />
    <img src="~/Content/images/hopdong.png"  style="text-align:center;"/>
</div>
<br />
<br />

