
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="">
    <title>_Layout00</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="http://localhost:53551/TrangChu/TrangChu" class="navbar-brand brand"> Thuê Xe </a>
                    </div>
                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="propClone"><a href="http://localhost:53551/TrangChu/TrangChu">Trang Chủ</a></li>
                            <li class="propClone"><a href="http://localhost:53551/DanhMucXe/Index">Danh Mục Xe</a></li>
                            <li class="propClone"><a href="@Url.Action("Index","GioHang")">Thanh Toán</a></li>
                            <li class="propClone"><a href="contact.html">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-homeimage">
                            <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                                AN TOÀN TIỆN LỢI
                            </div>
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                                HỖ TRỢ NHIỆT TÌNH
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()


    <!-- FOOTER =============================-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div>
                    <ul>
                        <li>Công ty TNHH DV THUÊ XE</li>
                        <li><img src="~/Content/images/locate.png" width="20px" height="20px" />828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh.</li>
                        <li><a class="nav-link ga-hotline nav-hotline" href="tel:1900 15090"><img src="~/Content/images/phone.png" width="20px" height="20px" />&nbsp;&nbsp;&nbsp;&nbsp;1900 15090</a></li>
                        <li><img src="~/Content/images/mail.png" /><a class="email" href="mailto:Contact@thuexe.vn">&nbsp;&nbsp;&nbsp;&nbsp;Contact@ThueXe.vn</a></li>
                        <li><img src="~/Content/images/clock.png" />&nbsp;&nbsp;&nbsp;&nbsp;Thời gian làm việc:</li>
                        <li>- Thứ Hai đến Thứ Bảy: 9h-22h</li>
                        <li>- Chủ nhật & Ngày lễ:  15h-23h</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Hình thức thanh toán:</li>
                        <li>
                            <img src="~/Content/images/method-visa.png" />
                            <img src="~/Content/images/master-card.png" />
                            <img src="~/Content/images/pay-3.png" />
                        </li>
                        <li>
                            <img src="~/Content/images/cash.png" />
                            <img src="~/Content/images/internet-banking.png" />
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <ul class="social-iconsfooter">
                        <li><a href="#"><i class="fa fa-phone"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- SCRIPTS =============================-->
    <script src="~/Content/js/jquery-.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/anim.js"></script>
    <script>
        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>
    <script src="~/Content/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>
