
@{
    ViewBag.Title = "GuiDonDat";
}

<div style="text-align:center">
    <h1>Bạn hãy tải về file hợp đồng với đường link: <a href="#">Link hợp đồng</a></h1>
    <h2>Đơn Đặt Xe Của Bạn Đã Được Gửi. Click Vào @Html.ActionLink("Đây", "TrangChu", "TrangChu") Để Về Trang Chủ.</h2>
</div>


