
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="">
    <title>_Layout00</title>
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/css/footer.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="http://localhost:53551/TrangChu/TrangChu" class="navbar-brand brand"> Thuê Xe </a>
                    </div>
                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="propClone"><a href="http://localhost:53551/TrangChu/TrangChu">Trang Chủ</a></li>
                            <li class="propClone"><a href="http://localhost:53551/DanhMucXe/Index">Danh Mục Xe</a></li>
                            <li class="propClone"><a href="@Url.Action("Index","GioHang")">Đơn Đặt</a></li>
                            <li class="propClone"><a href="contact.html">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-homeimage">
                            <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                                AN TOÀN TIỆN LỢI
                            </div>
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                                HỖ TRỢ NHIỆT TÌNH
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()


    <!-- FOOTER =============================-->
    <footer class="foot-color1">
        <div class="main-content">
            <div class="left box1">
                <h2>Về Chúng Tôi</h2>
                <div class="content">
                    <ul class="gioithieu">
                        <li style="padding-top:10px;font-size:15px;">Giới thiệu </li>
                        <li style="padding-top:10px;font-size:15px;">Dịch vụ cho thuê xe</li>
                        <li style="padding-top:10px;font-size:15px;"> Bảng giá thuê xe</li>
                        <li style="padding-top:10px;font-size:15px;"> xe - Thư viện xe</li>
                        <li style="padding-top:10px;font-size:15px;">Khám phá & Trải nghiệm</li>
                        <li style="padding-top:10px;font-size:15px;">FAQ - Câu hỏi thường gặp</li>
                        <li style="padding-top:10px;font-size:15px;">Hướng dẫn thuê xe</li>
                        <li style="padding-top:10px;font-size:15px;">Hướng dẫn thanh toán</li>
                    </ul>
                    <div class="social">
                        <a href="https://facebook.com"><span class="fab fa-facebook-f"></span></a>
                        <a href="https://twitter.com"><span class="fab fa-twitter"></span></a>
                        <a href="https://instagram.com"><span class="fab fa-instagram"></span></a>
                        <a href="https://youtube.com"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box1">
                <h2>Công Ty TNHH DV Thuê XE</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text1" style="font-size:15px">828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh.</span>
                    </div>
                    <div class="phone">
                        <a href="tel:1900 15090"><span class="fas fa-phone-alt"></span></a>
                        <span class="text1" style="font-size:15px">+84 1900 15090</span>
                    </div>
                    <div class="email">
                        <a href="mailto:Contact@thuexe.vn"><span class="fas fa-envelope"></span></a>
                        <span class="text1" style="font-size:15px">Thuexegiare2927@gmail.com</span>
                    </div>
                    <div class="time">
                        <span class="fas fa-clock" style="margin-top:25px;float:left;"></span>
                        <ul class="thoigian">
                            <li>Thời gian làm việc:</li>
                            <li>-Thứ Hai đến Thứ Bảy: 9h-22h</li>
                            <li>-Chủ nhật & Ngày lễ:  15h-23h</li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="right box1">
                <h2>Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text1" style="font-size:15px">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text1" style="font-size:15px">Message *</div>
                            <textarea rows="2" cols="25" required></textarea>
                        </div>
                        <div class="btnsub">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <center>
                <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
            </center>
        </div>
    </footer>



    <!-- SCRIPTS =============================-->
    <script src="~/Content/js/jquery-.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/anim.js"></script>
    <script>
        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>
    <script src="~/Content/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>
