
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout00.cshtml";
}

<link rel="stylesheet" href="~/Content/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<!-------featured products ------->
<div class="small-container">
    <h2 class="title">Các dòng xe </h2>
    <div class="row">
        <div class="col-4">
            <a href="Xe-Mercedes.html"><img src="/Pictures/mec.jpg"></a>
            <h4>Xe Mercedes C-200</h4>

        </div>
        <div class="col-4">
            <img src="/Pictures/bmw 2.jpg">
            <h4>BMW 2021 Super Sport</h4>

        </div>
        <div class="col-4">
            <img src="/Pictures/bmw.jpg">
            <h4>BMW 2020 Super Sport</h4>

        </div>
        <div class="col-4">
            <img src="/Pictures/forture.jpg">
            <h4>Toyota Forture Quốc Dân</h4>

        </div>

        <div class="col-4">
            <img src="/Pictures/kia.jpg">
            <h4>Kia Mornata 2021</h4>

        </div>

        <div class="col-4">
            <img src="/Pictures/xe dien.jpg">
            <h4>Alpha Electric Off-Road Car</h4>

        </div>
    </div>
</div>

<!----- testimonial ---->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <p>Xe đẹp mà sang, chủ xe nhiệt tình </p>

                <h3>John Smith</h3>
            </div>
            <div class="col-3">
                <p>Mình book chuyến Nha Trang bằng xe điện nên không tốn xăng ! Quá đã</p>

                <h3>Mr.Electric</h3>
            </div>
            <div class="col-3">
                <p>Xe êm</p>

                <h3>Mr. Wonderful</h3>
            </div>
        </div>
    </div>
</div>

<!------------Brands---------->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="/Pictures/logo/bmw-logo.png" alt="Gorej">
            </div>
            <div class="col-5">
                <img src="/Pictures/logo/mec-logo.jpg" alt="Cola">
            </div>
            <div class="col-5">
                <img src="/Pictures/logo/lambor-logo.png" alt="Oppo">
            </div>
            <div class="col-5">
                <img src="/Pictures/logo/logo-toyota.jpg" alt="Paypal">
            </div>
            <div class="col-5">
                <img src="/Pictures/logo/kia-logo.png" alt="Philis">
            </div>
        </div>
    </div>
</div>

