
@{
    ViewBag.Title = "GuiDonDat";
    Layout = "~/Views/Shared/_Layout00.cshtml";
}

<h2>Đơn Đặt Xe Của Bạn Đã Được Gửi. Click Vào @Html.ActionLink("Đây","TrangChu","TrangChu") Để Về Trang Chủ.</h2>

